@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', 'sans-serif';
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

.container {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container-2 {
	
}

footer {
	flex-shrink: 0;
	height: fit-content;
	padding: 0.5rem;
	text-align: center;
	color: #fff;
	font-size: 0.8rem;
	border-top: 5px;
	background-color: #344955;
	width: 100vw;
}

footer a {
	text-decoration: none;
	color: #78A083;
}

footer a:hover {
	color: #50727B;
}