@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #111;
	font-family: 'Roboto', 'sans-serif';
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	overflow-x: hidden;
	margin: 0;
}

.container {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.square-container {
	display: flex;
	flex-wrap: wrap;
	width: 500px;
	height: 420px;
}

.square {
	background-color: #1d1d1d;
	box-shadow: 0 0 2px #000;
	height: 16px;
	width: 16px;
	margin: 0 2px;
	transition: 2s ease;
}

.square:hover {
	transition-duration: 0s;
}

footer {
	flex-shrink: 0;
	height: fit-content;
	padding: 0.5rem;
	text-align: center;
	color: #ffffff;
	font-size: 0.8rem;
	border-top: 5px;
	background-color: #0A1D56;
	width: 100vw;
}

footer a {
	text-decoration: none;
	color: #F2F597;
}

footer a:hover {
	color: #37B5B6;
}