@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #2b88f0;
	font-family: 'Muli', 'sans-serif';
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

.container {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h3 {
	color: #fff;
	margin: 10px 0 20px;
	text-align: center;
}

textarea {
	border: none;
	display: block;
	width: 100%;
	height: 100px;
	font-family: inherit;
	padding: 10px;
	margin: 0 0 20px;
	font-size: 16px;
}

.tag {
	background-color: #f0932b;
	color: #fff;
	border-radius: 50px;
	padding: 10px 20px;
	margin: 0 5px 10px 0;
	font-size: 14px;
	display: inline-block;
}

.tag.highlight {
	background-color: #273c75;
}

footer {
	flex-shrink: 0;
	height: fit-content;
	padding: 0.5rem;
	text-align: center;
	color: #ffffff;
	font-size: 0.8rem;
	border-top: 5px;
	background-color: #0A1D56;
	width: 100vw;
}

footer a {
	text-decoration: none;
	color: #F2F597;
}

footer a:hover {
	color: #37B5B6;
}