@import url('https://fonts.googleapis.com/css2?family=Questrial:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #666;
	font-family: 'Questrial', 'sans-serif';
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	overflow-x: hidden;
	margin: 0;
}

.container {
	width: 70vw;
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	color: #fff;
}

.screen {
	cursor: pointer;
	height: 450px;
	width: 100%;
	background-color: #000;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.controls { 
	width: 100%;
	background: #333;
	color: #fff;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.controls .btn {
	border: 0;
	background: transparent;
	cursor: pointer;
}

.controls .fa-play {
	color: #28a745;
}

.controls .fa-stop {
	color: #dc3545;
}

.controls .fa-pause {
	color: #fff;
}

.controls .timestamp {
	color: #fff;
	font-weight: bold;
	margin-left: 10px;
}

.btn:focus {
	outline: 0;
}

footer {
	flex-shrink: 0;
	height: fit-content;
	padding: 0.5rem;
	text-align: center;
	color: #fff;
	font-size: 0.8rem;
	border-top: 5px;
	background-color: #344955;
	width: 100vw;
}

footer a {
	text-decoration: none;
	color: #78A083;
}

footer a:hover {
	color: #50727B;
}

@media(max-width: 800px) {
	.screen, .controls {
		width: 90%;
	}
}