@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #0095dd;
	font-family: 'Roboto', 'sans-serif';
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	overflow-x: hidden;
	margin: 0;
}

.container {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

canvas {
	background-color: #f0f0f0;
	display: block;
	border-radius: 5px;
	margin-bottom: 50px;
}

h1 {
	font-size: 45px;
	color: #fff;
}

.btn {
	cursor: pointer;
	border: 0;
	padding: 10px 20px;
	background: #000;
	color: #fff;
	border-radius: 5px;
}

.btn:focus {
	outline: 0;
}

.btn:hover {
	background-color: #222;
}

.btn:active {
	transform: scale(0.98);
}

.rules-btn {
	position: absolute;
	top: 30px;
	left: 30px;
}

.rules {
	position: absolute;
	top: 0;
	left: 0;
	background: #333;
	color: #fff;
	min-height: 100vh;
	width: 400px;
	padding: 20px;
	line-height: 1.5;
	transform: translateX(-400px);
	transition: transform 1s ease-in-out;
}

.rules.show {
	transform: translateX(0);
}

footer {
	flex-shrink: 0;
	height: fit-content;
	padding: 0.5rem;
	text-align: center;
	color: #fff;
	font-size: 0.8rem;
	border-top: 5px;
	background-color: #344955;
	width: 100vw;
}

footer a {
	text-decoration: none;
	color: #78A083;
}

footer a:hover {
	color: #50727B;
}